<header class="_header">

  <div class="user">
    <img src="assets/vsLogo.png" alt="Vs-logo">
    <h3 class="name">Verena Schink</h3>
    <p class="post">WebDesignIn & DeveloperIn</p>
  </div>

  <nav class="navbar">
    <ul>
      <li><a routerLink="/home">home</a></li>
      <li><a routerLink="/about">about</a></li>
      <li><a routerLink="/service">Portfolio</a></li>
      <li><a routerLink="/education">Resume</a></li>
      <li><a routerLink="/contact">contact</a></li>
    </ul>
  </nav>

</header>
