<section class="home" id="home">

  <h3>hi there...</h3>
  <h3 class="name">my name is <span>Verena</span></h3>
  <h3 class="post">i am a <span class="typing-text">front end developer</span></h3>

  <a href="#"><button class="btn">portfolio</button></a>

<!--  <div class="share">-->
<!--    <a  href="#" class=" fa fa-github"></a>-->
<!--    <a href="#" class="fa fa-linkedin"></a>-->
<!--    <a href="#" class="fa fa-instagram"></a>-->
<!--  </div>-->

  <div class="socialMedia">
    <ul class="share">
      <li data-text="github"  style="--i:1">
        <a href="https://github.com/Verenasworld">
          <i class="fa fa-github"></i>
        </a>
      </li>
      <li data-text="instagram"  style="--i:2">
        <a href="#">
          <i class="fa fa-instagram"></i>
        </a>
      </li>
      <li data-text="LinkedIn"  style="--i:3">
        <a href="#">
          <i class="fa fa-linkedin"></i>
        </a></li>

    </ul>
  </div>
</section>
