<section class="home" id="home">

  <h3>hi there...</h3>
  <h3 class="name">my name is <span>Verena</span></h3>
  <h3 class="post"> <span class="typing-text"> #zielstrebig #kreativ #zukunftsorentiert</span></h3>

  <a href="#"><button class="btn">portfolio</button></a>


  <div class="socialMedia">
    <ul class="share">
      <li data-text="GITHUB"  style="--i:1">
        <a href="https://github.com/Verenasworld">
          <i class="fa fa-github"></i>
        </a>
      </li>
      <li data-text="INSTAGRAM"  style="--i:2">
        <a href="#">
          <i class="fa fa-instagram"></i>
        </a>
      </li>
      <li data-text="LINKEDIN"  style="--i:3">
        <a href="#">
          <i class="fa fa-linkedin"></i>
        </a></li>

    </ul>
  </div>
</section>
