
._body{
  overflow: hidden;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background: -webkit-linear-gradient(-45deg,#35778c, #474a5c, #0e64a2);
  background:linear-gradient(-45deg, #35778c, #474a5c, #0e64a2);
  color: black;
  background-size: 400% 400%;
  background-attachment: fixed !important;
  background-repeat: no-repeat !important;
  animation: change 15s ease-in-out infinite;
}

@keyframes change {
  0% {
    background-position: 0 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0 50%
  }
}
