<section class="service" id="service">

  <h1 class="heading">my services</h1>

  <div class="box-container">

    <div class="box">
      <i class="fab fa-html5"></i>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, sed.</p>
    </div>

    <div class="box">
      <i class="fab fa-css3"></i>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, sed.</p>
    </div>

    <div class="box">
      <i class="fab fa-js"></i>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, sed.</p>
    </div>

    <div class="box">
      <i class="fab fa-wordpress"></i>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, sed.</p>
    </div>

    <div class="box">
      <i class="fas fa-paint-brush"></i>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, sed.</p>
    </div>

    <div class="box">
      <i class="fas fa-bullhorn"></i>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, sed.</p>
    </div>

  </div>

</section>
