<section class="service" id="service">

  <h1 class="heading">MY Portfolio</h1>



  <div class="_container">
    <div class="boxen">
      <div class="box1">
        <h2>MY Portfolio </h2>
        <p>here goes a progress bar,<br> to show what kind for programming language<br> we use for this project</p>
      </div>
      <div class="box2">
        <h1>this is box 2</h1>
      </div>
      <div class="box1">
        <h1>this is Box 1 </h1>
      </div>
      <div class="box1">
        <h1>this is Box 1 </h1>
      </div>
    </div>
  </div>

</section>
