<section class="about" id="about">

  <div class="content">
    <h3 class="name">my name is <span>Verena Schink</span></h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore quos ipsam, temporibus veritatis sed dignissimos. Ratione consequuntur sapiente reiciendis dolorem.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, iusto hic neque illo dolorem facere laborum quam inventore architecto voluptates totam quo corrupti assumenda nihil voluptatum optio ullam cupiditate excepturi?</p>
  </div>

  <div class="skills">

    <div class="progress">
      <h3>html <span>95%</span></h3>
      <div class="bar"><span></span></div>
    </div>
    <div class="progress">
      <h3>css <span>85%</span></h3>
      <div class="bar"><span></span></div>
    </div>
    <div class="progress">
      <h3>javascript <span>65%</span></h3>
      <div class="bar"><span></span></div>
    </div>
    <div class="progress">
      <h3>photoshop <span>70%</span></h3>
      <div class="bar"><span></span></div>
    </div>  <div class="progress">
    <h3>teamwork <span>100%</span></h3>
    <div class="bar"><span></span></div>
  </div>
  </div>

</section>
